body {
    font-size: 16px;
    color: #E8E5DA;
    background-color: #faf3dd;
    font-family: 'Raleway', sans-serif;
}

#header-nav {
    background-color: #faf3dd;
    border-radius: 0;
    border: 0px;
}

#logo-img {
    background: url('../output-onlinepngtools.png') no-repeat;
    width: 190px;
    height: 130px;
    margin: 10px 0px 10px 0;
}

 .container {
    
    padding-left: 00px;
    margin-left: 00px;

} 
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Sofia', cursive;
    /* font-family: 'Leckerli One', cursive; */
    color: #087579; 
    font-size: 2em;
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    /* text-shadow: 1px 1px 1px rgb(71, 70, 70); */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #087579;
    /* text-transform: uppercase; */
    font-size: .8em;
    margin-left: 21px;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

/* .navbar-toggler {
  
    height: 30px;
    width: 30px;
    color: #087579
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-toggler-icon {
    height: 20px;
    width: 20px;
    color: #087579;
}

.navbar-nav {
    
    margin-top: 18px;

} */